.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.createAccountButton {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.createAccountButton:hover {
    background-color: #0056b3;
}

.plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.plus span {
    font-size: 2rem;
    margin-right: 10px;
}

.footer {
    margin-top: 40px;
}

.footer p {
    margin-top: 50px;
}
