.container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .container .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container .input {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container .button {
    width: 220px;
    padding: 10px;
    margin-top: 10px;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container .button:hover {
    background-color: #a52a2a;
  }
  
  .container .createAccount {
    margin-top: 10px;
    color: #ff6347;
    text-decoration: none;
  }
  
  .role {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .role div {
    display: flex;
    flex-direction: column;
  }
  
  .role label {
    margin-bottom: 0.5rem;
  }
  
  .role select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }