.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
  }
  
  .main {
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
    padding: 0 2rem;
  }
  
  .projectHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .projectHeader > div {
    display: flex;
    flex-direction: column;
  }
  
  .main h2 {
    margin-bottom: 10px;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }

  .tableHeader {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  .row {
    cursor: pointer;
  }
  
  .row:hover {
    background-color: hsl(0, 0%, 95%);
  }

  .createIssueButton {
    background-color: #418ad8;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .createIssueButton:hover {
    background-color: #70abe6;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .tableWrapper {
    position: relative;
    width: 100%;
  }